/** ---------------------- GENERAL ---------------------- **/

body {
    background-color: rgb(13, 17, 29)
}

/** ---------------------- HEADING ---------------------- **/

.heading {
    font-family: 'Space Mono', monospace;
    color: #fff;
    font-size: 60px;
}

.heading-wrapper {
    position: absolute;
    left: 50%;
    top: 40%;
    margin: -240px 0 0 -280px;
}

.heading-content {
    font-family: 'Space Mono', monospace;
    color: #fff;
    font-size: 20px;
    width: 75%;
}

/** ---------------------- CONTENT ---------------------- **/

.content-div {
    background-color: #405578ae;
    border-radius: 4px;
    border-style: double;
    border-width: 6px;
    border-color: #596598;
    width: 500px;
    height: auto;
    padding: 20px;
    position: absolute;
    top: 60%;
    left: 50%;
    margin: -170px 0 0 -270px;
    display: flex;
}

.content-text {
    font-family: 'Space Mono', monospace;
    color: #fff;
    display: inline-block;
    overflow: hidden;
    width: 250px;
    flex: 50%;
}

#go-button {
    background-color: #5b6698;
    color: #fff;
    font-family: 'Space Mono', monospace;
    margin-top: 20px;
} 

img {
    max-width: 90%;
}