<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="static/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=IM+Fell+French+Canon&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Space+Mono&display=swap" rel="stylesheet">
        <title>API DEMO</title>
    </head>
    <body>
        <div class="content-wrapper">
            <div class=heading-wrapper>
                <span class="heading">Welcome to APIs!</span>
                <p class="heading-content">This is a landing page for the HACK110 API workshop. Feel free to edit this text!</p>
            </div>
            <div class="content-div">
                <p>hello, world</p>
            </div>
        </div>
    </body>
</html>